// Gutenberg Stuff
// -
// + + + + + + + + + + 


// Background Colors

.has-primary-color-background-color {
	background-color: var(--primary_color);
}
.has-bg-color-background-color {
	background-color: var(--bg_color);
}
.has-title-color-background-color {
	background-color: var(--title_color);
}
.has-page-color-background-color {
	background-color: var(--page_color);
}
.has-sidebar-color-background-color {
	background-color: var(--sidebar_color);
}

.has-white-background-color {
	background-color: #fff;
}
.has-black-background-color {
	background-color: var(--text_dark);
}


// Colors

.has-text-color.has-primary-color-color {
	color: var(--primary_color);
}
.has-text-color.has-bg-color-color {
	color: var(--bg_color);
}
.has-text-color.has-title-color-color {
	color: var(--title_color);
}
.has-text-color.has-page-color-color {
	color: var(--page_color);
}
.has-text-color.has-sidebar-color-color {
	color: var(--sidebar_color);
}

.has-text-color.has-white-color {
	color: #fff;
}
.has-text-color.has-black-color {
	color: var(--text_dark);
}


// Links / Button

.wp-block-button {}
	
.wp-block-button__link,
.wp-block-file__button {
	@extend .action-btn;
	border-radius: 0;
}

// Files

.wp-block-file {
	
	a:first-child {
		font-family: var(--font_regular);
		text-decoration: none;
		border-bottom: var(--secondary-color) 2px solid;
		transition: border .2s ease-in-out;
		
		&:hover {
			border-bottom-width: 4px;
		}
		&.focus-visible {
			background-color: var(--text_color);
			border-bottom-color: var(--text_color);
			color: #fff;
		}
	}
}


// Text

.has-small-font-size {
	@extend .text-mentions;
}
.has-large-font-size {
	@extend .text-intro;
}


// Columns 

.wp-block-columns {
	display: block;
	
	.wp-block-column {
		width: 100% !important;
		margin: 0;
	}

	@include rwd(medium) {
		display: flex;

		.wp-block-column {
			margin: 0 $grid-padding;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&.columns-2 {
			.wp-block-column {
				width: 50%;
			}
		}
		&.columns-3 {
			.wp-block-column {
				width: 33.3333%;
			}
		}
		&.columns-4 {
			.wp-block-column {
				width: 25%;
			}
		}
	}
}


// Images

.wp-block-image {
	
	& img {
		max-width: none;
	}
	
	&.alignfull {
		width: 100%;
	}	
}


// Quotes

.wp-block-quote {
	margin-bottom: $grid-padding*2 !important;
	
	cite {
		
	}
}


// Latest posts & Categories

.wp-block-archives-list,
.wp-block-categories-list,
.wp-block-latest-posts__list {
	
	.page-content > & {
		padding-left: 0;
	}
	
	li {
		margin-left: 0;
		border-bottom: var(--text_color) 1px solid;
		
		&:first-child {
			border-top: var(--text_color) 1px solid;
		}
			
		a {
			padding: $grid-padding 0;
			text-decoration: none;
			transition: .2s ease-in-out;
			
			&:hover,
			&.focus-visible {
				padding-left: $grid-padding;
				padding-right: $grid-padding;
				background-color: var(--primary_color);
				color: #fff;
			}
		}
	}
	
	&.is-grid {
		li {
			margin-bottom: 0;
			
			&:first-child {
				border-top: 0;
			}
		}
	}
}
.wp-block-latest-posts__list {

	li {
		a {
			display: block;
		}
	}
}

.wp-block-archives-list,
.wp-block-categories-list {
	list-style: none;
	
	li {
		a {
			display: inline-block;
		}
	}
}


// Separators 

hr,
.wp-block-separator {
	border: 0;
	border-top: var(--text_color) 1px solid;
}
.wp-block-separator {
	
	.page-content > & {
		max-width: 20rem;
		margin-top: 5rem;
		margin-bottom: 5rem;

		&.is-style-wide {
			max-width: 50rem;
		}		
	}
}


// Table

.wp-block-table {

}


// Gallery

.wp-block-gallery {
	
	.page-content > & {
		padding-left: 0;
	}
	
	.blocks-gallery-image,
	.blocks-gallery-item { 
		figcaption {
			padding: $grid-padding;
			margin: 0;
		}
	}
	
}  


// ACF Blocks Stuff
// -
// + + + + + + + + + + 


[class*=acf-block--] {
	margin-bottom: $grid-padding*2;
	
	.acf-block-container {
		width: 100%;
		
		&.center-max {
			margin: 0 auto;
			max-width: 90%;
			
			@include rwd(large) {
				max-width: 75%;
			}
		}
	}
}

// Text 

.acf-block--text {}


// Text+Img

.acf-block--textimg {}


// Gallery 

.acf-block--gallery {}


// CTA

.acf-block--cta {}


// Posts

.acf-block--post {}
.acf-block-post-item {}

.acf-block-post-figure {
	@extend .post-figure !optional;

	.acf-block-post-content--1col .acf-block-post-item & {
		
		@include rwd(medium) {
			width: 15rem !important;
			height: 15rem;
			padding-right: 0 !important;
		}
	}	
}
.acf-block-post-content {

	.acf-block-post-content--1col .acf-block-post-item & {
		
		@include rwd(medium) {
			flex: 1 0 0;
			padding-left: $grid-padding;
		}
	}	
}

.acf-block-post-title {
	@extend .post-title !optional;
}
.acf-block-post-metas {
	@extend .meta-infos !optional;
	margin-bottom: $grid-padding;
}

// Tesstimonial

.acf-block--testimonial {}

.acf-block-testimonial-item {
	
	@include rwd(large) {
		align-items: flex-start;
	}
	
	figure {
		overflow: visible;
	}
	blockquote {
		margin: 0 0 0 -3rem;
		
		&::before {
			top: -2rem;
			left: -1rem;
		}
	}
}
.testimonial-picture {
	@include figure();
	border-radius: 50%;
	
	@include rwd(large) {
		transform: translateY(-3rem);
		
		.right & {
			transform: translateX(-3rem);
		}
	}
}
.testimonal-title {
	@extend .h3-like;
}

// Lists Advanced

.acf-block--advanced-list {
	
	.acf-block-list-item {
		padding-bottom: $grid-padding;
		
		@include dark() {
			border-bottom-color: #fff;
		}
		.white-text & {
			border-top-color: #fff;
		}
	}
	.list-legend	 {
		padding-top: $grid-padding;
		margin-top: $grid-padding;
		
		@include dark() {
			border-top-color: #fff;
		}
		.white-text & {
			border-top-color: #fff;
		}
	}
}



