// Common Stuff
// -
// + + + + + + + + + + 


// Structure 


.page-wrap {
	position: relative;
	padding-top: $grid-padding;
	@include center-small();
	
	&.has-sidebar {
		@include center();	
		overflow-x: hidden;
		
		@include rwd(large) {
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			
			.page-content {
				$shift: calc( #{$grid-padding*2.5} + 8.3333% );
				transform: translateX($shift);
			}
			.page-sidebar {
				margin-top: $grid-padding*3;
			}
		}
	}
}

.page-banner,
.page-content,
.page-sidebar {
	width: 100%;
}

.page-header {
	.page-banner + & {
		position: relative;
		margin-top: -3rem;
		transform: translateX(-1rem);
	
		.page-title {
			display: inline-block;
			padding: $grid-padding/2 $grid-padding;
			margin-bottom: $grid-padding/2;
			background-color: #fff;
		}
		.post-meta {
			padding: 0 $grid-padding;
		}
	}
}
.post-header {
	@extend .page-header;
}



.page-title {
	
	.search-term {
		font-family: var(--font_bold);
	}
}

.page-content {
	position: relative;
	background-color: var(--page_color);
	z-index: 1;
	
	// Padding
	padding: $grid-padding*2.5 0;
	
	&.has-post-thumbnail {
		padding-top: 0;	
	}
	
	
	// Centering Blocks and content

	.page-banner {
		padding: 0;
		max-width: none;
	
		.error404 &,
		.page-template-pagecustom-maintenance & {
			
		}
	}
	
	& > * {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
		padding: 0 $grid-padding;
		
		@include rwd(medium) {
			max-width: 75%;
			padding: 0;
		}
	}
	
	& > *.alignwide {
		@include rwd(medium) {
			max-width: 90%;
		}
	}
	& > *.alignfull {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		max-width: none;
		width: 100%;
	}
	
	// Beaver container
	& > *.fl-builder-content {
		margin-left: 0;
		margin-right: 0;
		max-width: none;
		padding: 0;
	}
	
	& > [class*="wp-block-gallery"],
	& > [class*="wp-block-cover-image"],
	& > [class*="wp-block-quote"] {
		//@include center();
		margin-bottom: $grid-padding*2;
	}
	& > [class*="wp-block-table"],
	& > [class*="wp-block-verse"] {	
		position: relative;
		margin: $grid-padding*2 auto;
		max-width: calc(#{$max-width} - #{$grid-padding}*2);
	}
	
	& > span {
		display: block;
	    margin-bottom: 1.5em;
	}
	
	@include rwd(large) {
		
		.has-sidebar & {
			width: 66.6667%;
		}
	}	
}

.page-sidebar {
	position: absolute;
	top: $grid-padding*4;
	right: 0;
	transform: translateX(100%);
	transition: transform .3s ease-in-out;

	max-width: 23rem;
	padding: $grid-padding*2;
	background-color: var(--sidebar_color);
	z-index: 2;

	.menu-opened + .page-content + & {
		transform: translateX(0);
	}

	@include rwd(large) {
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		
		.has-sidebar & {
			width: 25%;
		}
	}
	
	.widget-container {
		margin-bottom: $grid-padding*4;
		
		&:last-child {
			margin-bottom: 0;
		}	
	}
	
	.widget-title {
		@extend .h3-like;
	}
	
	// Corner
	
	&::after {
		content: '';
		display: block;
		height: 3rem;
		width: 20rem;
		background-color: var(--sidebar_color);
		position: absolute;
		bottom: -3rem;
		left: 0;		
	}
	
	& aside {
		
		&::before,
		&::after {
			@include pointer(left, 1.5rem);		
			position: absolute;
			bottom: -3rem;
			right: 0;
		}
		
		&::before {
			border-top-color: var(--sidebar_color);
			border-left-color: var(--sidebar_color);
			z-index: 1;
		}
		&::after {
			border-top-color: #999;
			border-left-color: #999;
			opacity: .4;
			z-index: 2;
		}
	}
	
		
}

// Sketchbook

.page-content {
	
	.has-lines &::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: repeating-linear-gradient(
			0deg,
			transparent,
			transparent 2.5rem,
			rgba(120, 120, 120, 0.2) 2.5rem,
			rgba(120, 120, 120, 0.2) 2.6rem
		);
		z-index: -1;		
	}
	
	.has-spiral &::before {
		content: '';
		display: block;
		height: 30px;
		width: calc(100% - 4rem);
		position: absolute;
		top: -1rem;
		left: 2rem;
		background: url(img/ui/spiral-pattern-x.svg) 0 0 repeat-x;
		z-index: 1;
		
		@include rwd(large) {
			top: 2rem;
			left: -1rem;
			width: 30px;
			height: calc(100% - 4rem);
			background: url(img/ui/spiral-pattern.svg) 0 0 repeat-y;
		}
	}
}

// Search form

.searchform {
	
	.page-content & {
		padding-right: $grid-padding*2;
	}
}
