/* ------------------------- */
/* = Footer
/* ------------------------- */


#site_foot {
	
	.inner {
	}
}

.footer-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: $max-width-small;
	margin: $grid-padding*3 auto 0 auto;
	padding: $grid-padding $grid-padding*5;
	
	@include rwd(medium) {
		padding: 0;
	}	
	@include rwd(large) {
		flex-direction: row;
	}
}
.footer-section {
	margin-bottom: $grid-padding*6;
}
.footer-title {
	@extend .h3-like;
	margin-bottom: $grid-padding;
}

// Author 

.footer-author {

	@include rwd(large) {
		min-width: 70%;
	}
}
.author-info {
	
	@include rwd(large) {
		display: flex;
		flex-wrap: wrap;
		transform: translateX(-8rem);
	}
}
.author-avatar {
	@include figure();
	border-radius: 50%;
	width: 15rem;
	height: 15rem;
	overflow: hidden;
	margin-bottom: $grid-padding;
	transform: translateX(-25%);
	
	@include rwd(large) {
		margin: 0;
		width: 14rem;
		height: 14rem;
		transform: translateY(-1rem);
	}
	
	img.avatar {
		display: block;
		border-radius: 50%;
	}
}
.author-description {
	
	@include rwd(large) {
		flex: 1 0 0;
		padding-left: $grid-padding*2;
	}

}

// Footer nav

.footer-nav {
	max-width: 22rem;
	
	@include rwd(large) {
		min-width: 30%;
	}
}


// Social nav

.footer-social {
	
	.author-info + & {
		
		.social-menu {
			padding-top: $grid-padding*2.5;
			
			&::before {
				@include after-stroke();
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		
		@include rwd(large) {
			padding-left: 8rem;
		}
	}
}

.social-menu {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	
	li {
		margin-right: $grid-padding;
		
		a {
			display: block;
			width: 30px; 
			height: 30px;
			transition: transform .3s ease-in-out;
			@include a11y-hide();

			&::before {
				content: '';
				display: block;
				width: 30px; 
				height: 30px;
				background-color: var(--text_color);
				background-image: url(img/ui/social-icons.svg);
				//background-position: 0 0;
				background-position-x: 0;
				background-position-y: 0;
				background-repeat: no-repeat;
				
				@include dark() {
					background-position-y: -30px;
				}
				.dark-icons & {
					background-position-y: -30px;
				}
			}
			
			&:hover,
			&.focus-visible {
				transform: translateY(-.5rem);
			}
		}
		a[href*="facebook.com"]::before {
			background-position-x: 0;
		}
		a[href*="twitter.com"]::before {
			background-position-x: -30px;
		}
		a[href*="instagram.com"]::before {
			background-position-x: -60px;
		}
		a[href*="linkedin.com"]::before {
			background-position-x: -90px;
		}
		a[href*="pinterest.com"]::before {
			background-position-x: -120px;
		}
		a[href*="youtube.com"]::before {
			background-position-x: -150px;
		}
		a[href*="googleplus.com"]::before {
			background-position-x: -180px;
		}
		a[href*="vimeo.com"]::before {
			background-position-x: -210px;
		}
		a[href*="tripadvisor.com"]::before {
			background-position-x: -240px;
		}
		a[href*="snapchat.com"]::before {
			background-position-x: -270px;
		}
		a[href*="github.com"]::before {
			background-position-x: -300px;
		}
		a[href*="dribble.com"]::before {
			background-position: -330px 0;
		}
		a[href*="behance.com"]::before {
			background-position: -360px 0;
		}
		a[href*="whatsapp.com"]::before {
			background-position: -390px 0;
		}
		a[href*="tumblr.com"]::before {
			background-position: -420px 0;
		}
		
	}

}

// Copyright

.footer-copyright {
	max-width: $max-width-small;
	margin: 0 auto;
	
	p {
		font-family: var(--font_mono);
		font-size: 1.2rem;
		margin-bottom: 0;
		text-align: center;
		border-top: var(--text_color) 1px solid;
		padding: $grid-padding;
	}
	
	@include rwd(large) {
		
		.has-author + & {
			padding-left: 8rem;
		}
			
		p {
			text-align: left;
			padding-left: 0;
		}
	}
}

