// -------------------------
// 
// = Forms
// 
// -------------------------


// Regular and Custom Styles for Forms


fieldset {
	margin: 0 0 1em 0; 
	border: 0;
	padding: 0;
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="url"],
input[type="date"],
input[type="password"],
input[type="file"],
input[type="number"],
input[type="search"],
textarea, 
select {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 $grid-padding*2 0;
	padding: $grid-padding;
	color: var(--text_dark); 
	border: var(--text_color) 1px solid; 
	background-color: #fff;
	font-size: 1.6rem;
	font-family: var(--font_regular);
	border-radius: 0;
	appearance: none;
	
	&.focus-visible {
		background-color: var(--text_color);
		color: #fff;
		
		@include dark() {
			background-color: var(--text_dark);
		}
	}
	&:focus {
		outline: none;
	}	
}

input[type="search"] {
	border-radius: 0;
	padding-left: $grid-padding;
}

textarea {
	min-height: 180px;
	resize: vertical;
}

input[type="checkbox"].focus-visible + label, 
input[type="radio"].focus-visible + label {
	border-bottom: var(--text_color) 2px dashed; 
}

input[type="checkbox"], 
input[type="radio"],
input[type="checkbox"] + label, 
input[type="radio"] + label {
	width: auto; 
	margin: 0 0 5px 0;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    right: .5em; 
    font-size: 2rem;
    cursor: pointer;
}

label, legend {
	display: block;
	font-family: var(--font_title);
	font-weight: normal;
	margin: 0;
}
label {
	font-size: 1.8rem;
}
legend {
	font-size: 2.4rem;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	margin: 0 0 $grid-padding 0;
	padding: $grid-padding $grid-padding*2;
	width: auto; 
	border-radius: 0;
	appearance: none;
}

// Placeholders

::placeholder {
	color: #777;
	font-family: var(--font_italic);
	font-size: 1.4rem;
}
.focus-visible::placeholder,
*:focus::placeholder {
	color: transparentize(#fff, .5);
}

// ------------------------------
//
//  Forms : Custom 
// 
// ------------------------------


// Containers for inputs
// Inputs must be wrapped inside them

.formfield-half {
	
	@include rwd(medium) {
		display: flex;
	}
}


.formfield-text, // Generic container
.formfield-textarea,
.formfield-select, 
.formfield-file, 
.formfield-checkbox, 
.formfield-radio {
	position: relative;
	margin: $grid-padding 0;

	.formfield-half &:first-child {
		@include rwd(medium) {
			margin-right: $grid-padding*2;
		}
	}	
}


// Radio buttons & Chekboxes


.formfield-radio input[type="radio"],
.formfield-checkbox input[type="checkbox"] {
	opacity: 0; 
	position: absolute; 
	top: 0; 
	left: 0;
	
	& + label,
	& + span {					// @note: span is for CF7
		padding: 0 0 0 26px;
		
		&::before {
			content: ''; 
			vertical-align: middle;
			display: inline-block; 
			width: 1.6rem;
			height: 1.6rem;
			position: absolute; 
			top: .5rem; 
			left: 0;
			border: var(--text_color) 1px solid;
			background-color: #fff;
		}
		
		&::after {
			content: ''; 
			vertical-align: middle;
			display: inline-block;
			position: absolute; 
			top: 0; 
			left: 0;
		}
	}
}

.formfield-radio input[type="radio"] + label::before,
.formfield-radio input[type="radio"] + span::before {
	border-radius: 100%;
}
.formfield-radio input[type="radio"] + label::after,
.formfield-radio input[type="radio"] + span::after {
	width: .6rem; 
	height: .6rem;
	background-color: var(--primary_color);
	top: .9rem; 
	left: .6rem;
	border-radius: 100%;
	opacity: 0;
	transition: opacity .2s linear;
}
.formfield-radio input[type="radio"]:checked + label::after,
.formfield-radio input[type="radio"]:checked + span::after {
	opacity: 1;
}

.formfield-checkbox input[type="checkbox"] + label::after,
.formfield-checkbox input[type="checkbox"] + span::after {
	top: .7rem; 
	left: .35rem;
	content: '';
	width: 1rem;
	height: .5rem;
	border-left: 3px solid var(--primary_color);
	border-bottom: 3px solid var(--primary_color);	
	opacity: 0;
	transform: rotate(-45deg);
	transition: opacity .2s linear;
}
.formfield-checkbox input[type="checkbox"]:checked + label::after,
.formfield-checkbox input[type="checkbox"]:checked + span::after  {
	opacity: 1;
}

// @note: for CF7

.wpcf7-list-item label {
	position: relative;
}
span.wpcf7-list-item {
	margin: 0 $grid-padding 0 0;
}

.formfield-radio input[type="radio"].focus-visible + span,
.formfield-radio input[type="checkbox"].focus-visible + span {
	border-bottom: var(--primary_color) 1px dashed;
}

.formfield-radio input[type="radio"].focus-visible + span::after,
.formfield-radio input[type="checkbox"].focus-visible + span::after {
	//opacity: .5;
}

.comment-form-cookies-consent {
	@extend .formfield-checkbox;
}




// Select

.formfield-select--container {
	position: relative; 
	overflow: hidden;
	background-color: #fff;
	border: var(--text_color) 1px solid;
	margin: 0 0 $grid-padding*2 0;
	padding: 0;
	
	&::after {
		content: '';
		position: absolute;
		top: 50%; 
		margin-top: -3px;
		right: .5em;  
		display: block; 
		width: 0; 
		height: 0;
		border-color: transparent;
		border-top-color: var(--primary_color); 
		border-width: 6px;
		border-style: solid;
		pointer-events: none;
	}
	
	& select {
		padding-right: 6rem;
		width: 110%; 
		height: auto;
		border: 0; 
		margin: 0;
		border-radius: 0;
		appearance: none;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.formfield-select--container select::-ms-expand {
    display: none;
}


// File


.formfield-file--container {
	position: relative;
	margin: 0 0 $grid-padding*2 0;

	&::after {
		display: inline-block; 
		content: "\1F4CE";
		font-size: 2rem;
		color: var(--text_color);
		position: absolute; 
		top: .5em; 
		right: .5em;
		z-index: 100;
	}
}

// -------------------------
//
// = Gravity Forms
//
// -------------------------

// Labels, fields

.gform_fields,
.gfield_checkbox {
	padding: 0;
	list-style: none;
}
.gfield {
	margin-bottom: 1em;
}
.gfield_visibility_ {
	display: none;
	position: absolute !important;
	left: -9000px;
}
.gfield_description {
	font-family: var(--font_italic);
	margin-bottom: .5rem;
}

// Wrapper

.gform_wrapper {
	
	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
		padding: $grid-padding !important;
		margin-bottom: 0 !important;
	}
}

.ginput_complex {
	
	
	@include rwd(medium) {
		
		&.gf_name_has_2,
		&.gf_name_has_3 {
			display: flex;
			flex-wrap: wrap;

			span {
				padding-right: $grid-padding;
				
				label {
					font-size: 1.4rem;
					margin-bottom: 0;
				}
			}
			span:last-child {
				padding-right: 0;
			}

		}

		&.gf_name_has_2 {
			span {
				width: 50%;
			}
		}
		&.gf_name_has_3 {
			span {
				width: 33.3333%;
			}
		}

	}
	
}


// Checkbox, Radio & Select

.gfield_checkbox li,
.ginput_container_consent {
	@extend .formfield-checkbox;
}
.gfield_radio {
	padding-left: 0;
	list-style: none;
}
.gfield_radio li {
	@extend .formfield-radio;
}
.ginput_container_checkbox {
	//padding: $grid-padding 0;
}
.ginput_container_select {
	@extend .formfield-select--container;
	margin-bottom: 0;
	
	select {
		line-height: normal !important;
		padding: $grid-padding !important;		
	}
}
.ginput_container_post_image {
	@extend .formfield-file--container;
}

// Submit

input[type="submit"].gform_button {
	@extend .action-btn;
}

// Honeypot

.gform_validation_container, .gform_wrapper .gform_validation_container, body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container, body .gform_wrapper li.gform_validation_container, body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
	display: none!important;
	position: absolute!important;
	left: -9000px;
}

// Messages

.gform_confirmation_message {
	padding-top: $grid-padding*3;
	
	&::before {
		@include after-stroke(15rem);
		margin-bottom: $grid-padding*3;
	}
}
.validation_error,
.gfield_error {
	padding: $grid-padding*2;
	border: var(--text_color) 2px solid;
}


// -------------------------
//
// = ContactForm 7
//
// -------------------------

// If you use the ContactForm7 Plugin

div.wpcf7-response-output {
	margin: 10px 0 0 0 !important; 
	padding: 5px !important;
	font-family: var(--font_regular);
}
span.wpcf7-not-valid-tip {
	color: #c00;
	margin-top: -.5em;
	padding-top: .25em;
	border-top: #c00 1px solid;
}
div.wpcf7-validation-errors {
	border: 0 !important; 
	background-color: #c00; 
	color: #fff !important;
}
div.wpcf7-mail-sent-ok {
	border: 0 !important; 
	background-color: #9c0; 
	color: #fff !important;
}
input[type="submit"].wpcf7-submit {
	@extend .action-btn;
}