/* ------------------------- */
/* = Plugins
/* ------------------------- */

// Fancybox

.fancybox-toolbar {
	
	.admin-bar & {
		top: 46px;
		
		@include rwd($admin-bar) {
			top: 32px;
		}
	}	
}

.fancybox-button {
	outline: 0;
	background-color: var(--text_dark);

	&[disabled],
	&[disabled]:hover,
	&[disabled]:focus {
		opacity: 0.2 !important;	
	}
	
	.fancybox-navigation & {
		height: 4.4rem;
		width: 4.4rem;
		padding: 0;
	}
	
	svg path { fill: #fff; }

	&:hover,
	&.focus-visible {
		background-color: #fff;
		outline: 0;
		
		svg path { fill: var(--text_dark); }
	}
}


#back2top {
	display: block;
	padding: 0;
	width: 6rem;
	height: 6rem;
	border: 0;
	outline: 0;
	border-radius: 50%;
	background-color: #fff;
	
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	
	opacity: 0;
	transition: .4s ease-in-out;
	
	z-index: 100;

	svg {
		width: 100%;
		height: auto;
		
		path {
			fill: var(--text_color);
		}
	}
	&:hover,
	&.focus-visible {
		transform: scale(1.1);
	}
	
	#site_foot.white-text + & {
		background-color: var(--text_color);
		
		svg path {
			fill: #fff;
		}
	}
}


.back2top-btn #back2top {
	opacity: 1;
}



/* ------------------------- */
/* = Helpers
/* ------------------------- */

.screen-reader-text {
	@include a11y-hidden();
}
.out-of-reach {
	display: none;
}

.clearfix {
	clear: both;
	float: none;
}
.floatl {
	float: left;
} 
.floatr {
	float: right;
}

.txtr {
	text-align: right;
} 
.txtl {
	text-align: left;
} 
.txtc {
	text-align: center;
}