/* ------------------------- */
/* = Plugins
/* ------------------------- */


/* ------------------------- */
/* = Misc
/* ------------------------- */

#back2top {
	display: block;
	padding: .5rem;
	width: 6rem;
	height: 6rem;
	border: 0;
	outline: 0;
	border-radius: 50%;
	background-color: transparent;
	
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	
	opacity: 0;
	transition: .4s ease-in-out;
}
#back2top svg {
	width: 100%;
	height: auto;
	
	path {
		fill: var(--text_color);
	}
}
#back2top:hover,
#back2top.focus-visible {
	transform: scale(1.1);
}

.back2top-btn #back2top {
	opacity: 1;
}



/* ------------------------- */
/* = Helpers
/* ------------------------- */

.screen-reader-text {
	@include a11y-hidden();
}
.out-of-reach {
	display: none;
}

.clearfix {
	clear: both;
	float: none;
}
.floatl {
	float: left;
} 
.floatr {
	float: right;
}

.txtr {
	text-align: right;
} 
.txtl {
	text-align: left;
} 
.txtc {
	text-align: center;
}