// Navigation
// -
// + + + + + + + + + + 


// Skiplinks


.skiplinks {
	position: absolute; 
	padding-top: 0;
	z-index: 100;

	a {
		position: fixed; 
		top: -65px;
		padding: $grid-padding;
		background-color: #000;
		font-family: var(--font_bold);
		color: #fff;
		text-decoration: none;
		transition: top .2s ease-in;
	
		&.focus-visible,
		&:focus {
			top: -5px;
			
			.admin-bar & {
				top: 27px;
			}
		}
		&:focus {
			outline: none;
		}

	}
}


// Main nav


.site-nav {
	padding: 0 $grid-padding;
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
}

.main-menu {
	position: relative;
	text-align: center;
	background-color: transparent;
	white-space: nowrap;

	@include rwd(large) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: left;
		white-space: normal;
	}
	

	& > li {
		position: relative;
		display: inline-block;
		margin: 0 $grid-padding;
		
		@include rwd(large) {
			display: block;
		}
		
		a {
			display: block;
			position: relative;
			text-decoration: none;
			
			&::after {
				content: '';
				display: block;
				width: 0;
				height: 1px;
				border-top: var(--text_color) 1px solid;
				margin: 0 auto;
				transition: width .3s ease-in-out;
			}
			&::before {
				content: '*';
				display: block;
				text-align: center;
				transition: .3s ease-in-out;
				opacity: 0;
			}
		}
		& > a:hover, 
		& > a.focus-visible,
		&.current-menu-item > a {
			
			&::after {
				width: 100%;
			}
			&::before {
				transform: translateY(1rem);
				opacity: 1;
			}
		}
		a:focus {
			
		}
		
		.sub-menu {
			display: none;
		}
	}

	// White text 
	
	.white-text & {
		
		& > li {
			color: #fff;
		}
		& > li a::after {
			border-top-color: #fff;
		}
	}	
}

// Hamburger Menu

#menu_toggle {
	display: block; 
	height: 4.4rem; 
	width: 4.4rem;
	position: absolute;
	top: $grid-padding*5;
	right: $grid-padding;
	border: 0; 
	border-radius: 0;
	outline: 0;
	margin: 0; 
	padding: .5rem;
	cursor: pointer;
	background-color: var(--sidebar_color);
	@include a11y-hide();
	z-index: 200;

	span,
	span::before,
	span::after {
		position: absolute; 
		display: block;
		width: 2.4rem; 
		height: 0;
		margin: 0;
		border-top: var(--text_color) 2px solid;
		transition: .3s linear;
	}
	
	&.white-burger {
		span,
		span::before,
		span::after {
			border-top-color: #fff
		}
	}
	
	span {
		top: 2rem; 
		left: 1rem;
		
		&::before,
		&::after {
			content: '';
			left: 0;
		}
		&::after {
			bottom: -9px;
			width: 2rem;
		}
		&::before {
			top: -11px;
			width: 1.4rem; 
		}
	}


	&.menu-opened {
		span {
			border-top-color: transparent !important; 
		}
		span::after {
			top: 0;
			transform: rotate(45deg);
			width: 2.4rem;
		}
		span::before {
			top: 0;
			transform: rotate(-45deg);
			width: 2.4rem;
		}
	}

	&:hover,
	&.focus-visible {
		background-color: var(--primary_color);
	}	
	
	@include rwd(large) {
		display: none;				
	}
}

// Widget & Footer menus

.widget-container ul,
.footer-menu {
	margin: 0;
	border-top: var(--text_color) 1px solid;
	
	li {
		display: block;
		border-bottom: var(--text_color) 1px solid;
		
		a {
			display: block;
			padding: $grid-padding/1.5 0;
			text-decoration: none;
			transition: .3s ease-in-out;
		}
		
		& a:hover,
		& a.focus-visible,
		&.current-menu-item a,
		&.current-cat a {
			padding-left: $grid-padding;
			background-color: var(--text_color);
			color: #fff;
			
			@include dark() {
				color: var(--text_dark);
			}
		}
		
		.sub-menu {
			display: none;
		}
	}
	
	// White text
	
	.white-text & {
		border-top-color: #fff;
		
		li {
			border-bottom-color: #fff;
			color: #fff;
			
			& a:hover,
			& a.focus-visible,
			&.current-menu-item a,
			&.current-cat a {
				background-color: #fff;
				color: var(--text_dark);
			}
			
		}
	}	
}

.widget-container ul {
	padding-left: 0;
}

// Copyright

.copyright-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	@include rwd(large) {
		justify-content: flex-start;
	}
	
}

// Share box

.share-box {
	
	p {
		font-family: var(--font_italic);
		padding-bottom: $grid-padding/2;
		border-bottom: var(--text_color) 1px solid;
		margin-bottom: $grid-padding;
	}
}

.share-items {
	list-style: none;
	padding: 0;
	display: flex;
	
	& > li {
		display: block;
		margin-right: $grid-padding;
		
		img {
			display: block;
			transition: .2s ease-in-out;
		}
		a {
			text-decoration: none;
			
			&:hover,
			&:focus {
				img {
					transform: translateY(-$grid-padding/2);
				}
			}
		}
	}
}