/* ------------------------- */
/* = Posts block
/* ------------------------- */

.post-block {
	position: relative;
	padding-top: $grid-padding*2;
	padding-bottom: $grid-padding*4;
	margin-bottom: $grid-padding*2;
	
	&::after {
		@include after-stroke(15rem);
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);		
	}
	
	@include rwd(large) {
		&.has-post-thumbnail {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
			
			&:nth-of-type(even) {
				flex-direction: row-reverse;
				padding-right: $grid-padding;
			}
		}
	}
}
.post-figure {
	@include figure();
	max-width: 16rem;
	margin-bottom: $grid-padding;
	@include img-opacity(.7);
	
	@include rwd(large) {
		width: 15rem;
	}
}
.post-title {
	max-width: 85%;
	margin-bottom: 0;

	@include rwd(large) {
		max-width: none;
	}

	a {
		text-decoration: none;
		transition: color .3s ease-in-out;
		
		&:hover,
		&.focus-visible {
			color: var(--primary_color);
		}
	}
}
.post-content {
	
	@include rwd(large) {
		padding-right: $grid-padding*2;
		
		.has-post-thumbnail & {
			flex: 1 0 0;
			padding: 0 $grid-padding*2 0 $grid-padding;
		}
		.post-block:nth-of-type(even) & {
			padding-left: 0;
		}
		
	}	
}
.post-excerpt {
	margin-top: $grid-padding*2;
}


.sticky {
	display: block;
}
.tag-links {
	
}
.nav-links {
	font-family: var(--font_regular);
}
.page-links {
	
}

// Meta

.meta-infos, 
.meta-comments {
	font-size: 1.2rem;
	font-family: var(--font_mono);
	line-height: 1.2;
}
.meta-infos {
	margin-bottom: $grid-padding/2;
}
.meta-comments {
	position: relative;
	
	svg {
		display: inline-block;
		vertical-align: middle;
		
		path {
			fill: var(--text_color);
		}
	}
	a::after {
		@include linkblock();
	}
}

// IAS 3

.trigger {
	padding-top: $grid-padding*2;
	margin-bottom: $grid-padding*3;
}
.spinner {
	padding: $grid-padding*2 0;

	svg {
		display: inline-block;
		width: 4.4rem;
		height: 4.4rem;
		
		circle {
			fill: var(--text_color);
			
			.white-text & {
				fill: #fff;
			}
		}
	}
}
.no-more {
	display: none;
}


// Pagenavi & Nav links

.pagination {
	padding: $grid-padding*2 0;
}
.nav-links,
.wp-pagenavi {
	display: flex;
	flex-wrap: wrap;
	
	& > a,
	& > span {
		display: block;
		width: 3.4rem;
		height: 3.4rem;
		margin: 0 $grid-padding $grid-padding 0;
		
		background-color: var(--text_color);
		color: #fff;
		border-radius: 50%;
		
		text-align: center;
		line-height: 3.4rem;
		
		@include dark() {
			color: var(--text_dark);
		}
		.white-text & {
			background-color: #fff;
			color: var(--text_color);
		}
	}
	a {
		text-decoration: none;
		transition: background .2s ease-in-out;
		
		&:hover,
		&.focus-visible {
			background-color: var(--primary_color);
			color: #fff;
		}
	}
	.current {
		background-color: var(--primary_color);

		@include dark() {
			color: #fff;
		}
		.white-text & {
			background-color: var(--primary_color);
		}
	}
	
	.pages {
		@include a11y-hidden();
	}
	.previouspostslink,
	.nextpostslink {
		span {
			@include a11y-hidden();
		}
	}
	
	a.last,
	a.first,
	a.next,
	a.prev {
		position: relative;
		background-color: transparent;
		color: var(--text_color);
		padding: 0 $grid-padding;
		border-radius: 0;
		width: auto;
		
		&::after {
			content: '';
			display: block;
			width: 25%;
			height: 1px;
			border-top: var(--text_color) 1px solid;
			transition: .3s ease-in-out;
		}
		&:hover::after,
		&.focus-visible::after {
			width: 100%;
		}

		.white-text & {
			color: #fff;
			
			&::after {
				border-top-color: #fff;
			}
		}
	}
}




/* ------------------------- */
/* = Single
/* ------------------------- */

.post-meta {
	
	&::after {
		@include after-stroke(15rem);
		content: none;
		margin: $grid-padding*3 0;
		
		.single & {
			content: '';
		}
	}
}

/* ------------------------- */
/* = Comments
/* ------------------------- */

.comments-area,
.comment-respond {
	margin-top: $grid-padding*3;
}
.comments-title,
.comment-reply-title {
	&::before {
		@include after-stroke(15rem);
		margin-bottom: $grid-padding*3;
	}
}

.comment-list {
	padding: 0;
	list-style: none;
	
	.children {
		list-style: none;
		border-left: var(--text_color) 2px solid;
	}
}

.comment {
	&::before {
		content: none;
	}
}
.comment-header {
	position: relative;
	margin-bottom: $grid-padding*2;
	
	@include rwd(large) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
}
.comment-author-avatar {
	@include figure();
	width: 9rem;
	height: 9rem;
	border-radius: 50%;
	margin: 0 $grid-padding $grid-padding 0;
}
.comment-author-title {
	position: relative;

	&::after {
		@include after-stroke();
		margin-top: $grid-padding;
	}
		
}

.comment-author-name {
	@extend .h3-like;
	margin-bottom: 0;
	
	a {
		text-decoration: none;
		transition: color .3s ease-in-out;
		
		&:hover,
		&.focus-visible {
			color: var(--primary_color);
		}
	}
}
.comment-date {
	@extend .meta-infos;
	
	a {
		text-decoration: none;
		
		&:hover,
		&.focus-visible {
			text-decoration: underline;
		}
	}
}


.bypostauthor {
	
	.comment-author-avatar {
		border-color: var(--primary_color);
		border-width: .2rem; 
	}
	.comment-author-name {
		color: var(--primary_color);

		a:hover,
		a.focus-visible {
			color: var(--text_color);
		}
		
	}
}

/* ------------------------- */
/* = Galleries
/* ------------------------- */


.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
