// -------------------------
// = Variables
// -------------------------

// Grid Padding & Max Width

$grid-padding: 1rem; 					// @note: The padding gutter! equiv. 10px

$max-width: 96rem;						// @note: 960px
$max-width-small: $max-width*0.666667;	// @note: 640px

$half-space: calc( (100% - #{$max-width}) /2 + #{$grid-padding} );  // Half the viewport

// Break-Points

$width-small: 30em; 		// @note: 480px
$width-medium: 45em;		// @note: 720px
$width-large: 60em; 		// @note: 960px
$width-wide: 75em;	 		// @note: 1200px
$width-xwide: 90em;	 		// @note: 1440px

$admin-bar: 48.875em;	 	// @note: 782px


// Color CSS vars
// Ex: var(--primary_color)
// Darkmode vars => mixins.scss

:root {
	
	// Background colors 
	
	--primary_color: #FF0055; 
	--sidebar_color: #FBFF00;
	--page_color: #FFFFFF;
	--bg_color: #E3DFC0;
	
	// Text colors 
	
	--title_color: #23252B;			// for page titles
	--text_color: #23252B;			// for page text
	--btn_text_color: #23252B;		// for buttons
	--sidebar_text_color: #23252B;	// for sidebar titles & widgets
	--header_text_color: #23252B;	// for header title, tagline & nav
	--footer_text_color: #23252B;	// for footer text and nav
	
	// Dark mode colors 
	
	--text_dark: #23252B;
	--sidebar_dark: #2F3239;
	--page_dark: #383B44;
	
	
	&.dark-mode {
		--primary_color: #FF0055; 
		--title_color: #fff;
		--text_color: #fff;
		--btn_text_color: #fff;
		--sidebar_color: #2F3239;
		--page_color: #383B44;
		--bg_color: #23252B;
	}
}