// -------------------------
// = Variables
// -------------------------

// Grid Padding & Max Width

$grid-padding: 1rem; 					// @note: The padding gutter! equiv. 10px

$max-width: 96rem;						// @note: 960px
$max-width-small: $max-width*0.666667;	// @note: 640px

$half-space: calc( (100% - #{$max-width}) /2 + #{$grid-padding} );  // Half the viewport


// Break-Points

$width-small: 30em; 		// @note: 480px
$width-medium: 45em;		// @note: 720px
$width-large: 60em; 		// @note: 960px
$width-wide: 75em;	 		// @note: 1200px
$width-xwide: 90em;	 		// @note: 1440px


// Color CSS vars
// Ex: var(--primary_color)

:root {
	--primary_color: #23252B; 
	--title_color: var(--primary_color);
	--text_color: var(--primary_color);
	--btn_color: #FF0055;
	--btn_text_color: #FFFFFF;
	--sidebar_color: #FBFF00;
	--page_color: #FFFFFF;
	--bg_color: #E3DFC0;
}